@font-face {
    font-family: 'Norse-Bold';
    src: url('./Norse-Bold.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

html, body {
    margin: 0;
    height: 100%;
    font-family: sans-serif;
}

body {
    display: flex;
}

.splash {
    background-image: url("./images/leaves.jpg");
    background-size: cover;
    flex-basis: 50%;
    flex-grow: 1;
    text-align: center;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.content {
    flex-grow: 3;

    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    align-items: flex-start;
    background-color: rgb(249 250 251);
}

.content h2, .content button, .content p {
    margin-left: 5%;
}

.form-container {
    padding-left: 5%;
    background-color: white;
    width: 95%;
    box-shadow: 0 2px 7px -7px;
}

.create-account {
    border-radius: 5px;
    
    box-shadow: 2px 2px 7px 3px rgba(0, 0, 0, .25);
    border-style: none;
    background-color: #596d48;
    padding: 15px;
    color: white;
}

.logo-bar {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, .5);
    margin-top: 200px;
    width: 100%;
}

.logo-bar img {
    width: 75px;
}

.logo-bar h1 {
    padding: 0;
    margin: 20px 0;
    font-family: 'Norse-Bold', sans-serif;
    font-size: 75px;
    color: white;
}

.splash p {
    color: white;
}

input {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}

.splash a {
    color: inherit;
}

ul {
    padding: 0;
    /* width: 100%; */
}
ul li {
    margin: 10px 20px 10px 0;
    width: 40%;
    display: inline-block;
}

ul li > * {
    width: 100%;
}